modules = ["nodejs-20", "web"]
compile = "make"
run = "run"

[nix]
channel = "stable-25_05"

[deployment]
build = ["sh", "-c", "make"]
run = ["sh", "-c", "run"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 46503810
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run dev"

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000
